.Sidedrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3 ease-out;
}


@media(min-width : 500px){
    .Sidedrawer{
        display: none;
    }
}

.Open{
    transition: translateX(0);
}

.Close{
    transition: translateX(-100%);
}

.Logo{
    height:11%;
    margin-bottom: 32px;
}

