.OrderSummary{
    text-transform: capitalize;   
}
.List{
    list-style-type: none !important;
}
.Content{
    width: 300px;
    margin: 0 auto !important;
    text-align: center;
}

.CenterContent{
    text-align: center;
}

.ul{
    padding-inline-start: 0 !important;
}